@import 'modern-normalize/modern-normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Gabriela&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

h1, h2, h3, h4, h5, h6 {
    font-family: "Gabriela", serif;
}

body {
    font-family: "Rubik", sans-serif;
    line-height: 1.6;
    font-size: 14pt;
}